body {
  background-color: hsl(212deg, 45%, 89%);
  font: 15px "Outfit", sans-serif;
}

.container {
  margin-top: 5em;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 1em;
}
.container .qr-card {
  background-color: hsl(0deg, 0%, 100%);
  width: 329px;
  height: 510px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 6px hsl(212deg, 45%, 82%);
}
.container .card-heading {
  font-weight: 700;
  color: hsl(218deg, 44%, 22%);
  padding: 0.5em 1em;
  margin: 0;
  text-align: center;
}
.container .paragraph {
  font-weight: 400;
  color: hsl(220deg, 15%, 55%);
  margin-top: 0.4em;
  text-align: center;
  padding: 0 2.5em;
}
.container img {
  display: block;
  margin: 1em auto 1em auto;
  width: 90%;
  border-radius: 10px;
}

footer {
  margin: 2.5em 0 0 0;
}
